# Functions

#### Warm up

In [7]:
bands1 = ['  thE beATles   ', 'tHe RoLLing sTones..', '.,tHe eagles', 'the tEMptationS  ']

# def cleanpu(bands):
#     clean_names =[]
#     for band in bands:
#         clean_name = band.strip('., ').title()
#         clean_names.append(clean_name)
#     return clean_names
# print(cleanpu(bands))

clean_bands = []
for band in bands1:
    clean_band = band.strip('., ').title()
    clean_bands.append(clean_band)
print(clean_bands)

['The Beatles', 'The Rolling Stones', 'The Eagles', 'The Temptations']

In [ ]:
# Output: ['The Beatles', 'The Rolling Stones', 'The Egles', 'The Temptations',]

In [14]:
bands2 = [' The whO  ', '  .   , tHE dOORS  ', ' the bAnd   ', '...,  THE kINks    ']

#['The Who', 'The Door', 'The Band', 'The Kinks']

clean_bands2 = []
for band in bands2:
    clean_band = band.strip('., ').title()
    clean_bands2.append(clean_band)
    
print(clean_bands2)

['The Who', 'The Doors', 'The Band', 'The Kinks']

## Functions

##### User-Defined vs. Built-In Function

In [15]:
# Built-in functions
print(max)
help(max)

<built-in function max>
Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [17]:
# User Defined Function
# Syntax: def function_name():
#             <CODE TO EXECUTE WHEN CALLED>

# Creating a function
def say_hello(): #defining the function
    print('Hello')

print(say_hello)

<function say_hello at 0x7db54c1b6ee0>

In [18]:
help(say_hello)

Help on function say_hello in module __main__:

say_hello()
    # Creating a function

In [19]:
# Executing a function
# Syntax: function_name()

say_hello()

Hello

##### Accepting Parameters

In [21]:
# Syntax: def function_name(param1, param2):
#             <CODE TO EXECUTE with variable param1 and param2>


def say_hello2(first, last): # first and last are perameters (aka placeholders)
    print(f'hello {first} {last}')


    
# Execute
# Syntax: function_name(data1, data2)
say_hello2('Ryan', 'Teague') #"Ryan" and "Teague" are aguements (the real data passed in)

hello Ryan Teague

In [22]:
say_hello2('Data1', 'Data2')

hello Data1 Data2

In [23]:
#position matters!
say_hello2()

TypeError: say_hello2() missing 2 required positional arguments: 'first' and 'last'

##### Passing in variables as parameters

In [ ]:
city1 = 'Bosten'
state1 = 'MA'
zip_code1 = '0214'

city2 = 'New York'
state2 = 'NY' 
zip_code2 = '12054'

In [26]:
#funcion to fromat on address -> city, state  -- zip code
def format_address(city_name, state_code, zip_code):
    print(f'{city_name.title()}, {state_code.upper()} -- {zip_code}')

In [28]:
format_address('chicgo','li','20202')

Chicgo, LI -- 20202

In [47]:
format_address(city1, state1, zip_code1)

NameError: name 'city1' is not defined

In [38]:
format_address(city2, state2, zip_code2)

NameError: name 'city2' is not defined

##### Keyword Arguments

In [49]:
#function for making a payment to a loan

def make_payment(total_amount_due, amount_paid, account_number):
    new_total = total_amount_due - amount_paid
    print(f'you have made a payment of ${new_total} to Account #{account_number}')
    print(f'your new balance is ${new_total}')
    print("Thank you for your payment!")

In [53]:
make_payment(1000, 100, '3248097') #positional arguments

you have made a payment of $900 to Account #3248097
your new balance is $900
Thank you for your payment!

In [57]:
#key word arguments
#function_name(param_name1=arg1, param_name2=arg1)
make_payment(amount_paid=200, account_number='2344543', total_amount_due=1500)

you have made a payment of $1300 to Account #2344543
your new balance is $1300
Thank you for your payment!

##### Default Parameters

In [62]:
#def function_name(pos_param1, pos_param2, defual_param1=defaul_val1, default_param2=defualt_val2)
#       <code for function gose here>
#default parameter need to be after and non-default parmas

def make_a_burger(customer_name, cheese=True, lettuce=True, tomato=True, onions=None, bacon=0):
    total_price = 4.50
    receipt = f'Thank you {customer_name}. here is your receipt:\n'
    receipt += '1 hamburger\n'
    if cheese:
        receipt += '\twith cheese\n'
    if lettuce:
        receipt += '\twith lettuce\n'
    if tomato:
        receipt += '\twith tomato\n'
    if onions:
        receipt += f'\twith {onions} onions\n'
    if bacon:
        receipt += f'\twith {bacon} pieces of bacon\n'
        total_price +=.75*bacon
    receipt += f'Total: ${total_price:.2f}'
    print(receipt)

In [63]:
make_a_burger('ryan')

Thank you ryan. here is your receipt:
1 hamburger
	with cheese
	with lettuce
	with tomato
Total: $4.50

In [65]:
make_a_burger('ellen', False)

Thank you ellen. here is your receipt:
1 hamburger
	with lettuce
	with tomato
Total: $4.50

In [66]:
make_a_burger('frank', True, True, True, None, 2)

Thank you frank. here is your receipt:
1 hamburger
	with cheese
	with lettuce
	with tomato
	with 2 pieces of bacon
Total: $6.00

In [67]:
#keyword arg.
make_a_burger('allin',bacon=2)

Thank you allin. here is your receipt:
1 hamburger
	with cheese
	with lettuce
	with tomato
	with 2 pieces of bacon
Total: $6.00

##### \*args and **kwargs

In [68]:
help(min)

Help on built-in function min in module builtins:

min(...)
    min(iterable, *[, default=obj, key=func]) -> value
    min(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its smallest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the smallest argument.

In [69]:
min(12, 22, 33, 11, 3, 4)

3

In [70]:
def my_function(arg1, *args):
    print('Arg1:', arg1)
    print('Args:', args, type(args))

my_function(1,2,3,5,7,2,3,6,7,2,4)

Arg1: 1
Args: (2, 3, 5, 7, 2, 3, 6, 7, 2, 4) <class 'tuple'>

In [72]:
def average(*numbers):
    print(numbers)
    total = 0
    for num in numbers:
        total += num
        return total / len(numbers)
    
average(10,20,24,30,25,60,44,50)

(10, 20, 24, 30, 25, 60, 44, 50)

1.25

In [76]:
def another_function(**kwags):
    print(kwags)
    print(type(kwags))

another_function(name='Ryan')

{'name': 'Ryan'}
<class 'dict'>

#### In Class Exercise 1

Create a function that takes in a color, make, and model and formats it into a string.<br>
Then loop over the cars list and apply the function to each element.<br>
Expected Output:<br>
<code>Blue Toyota Tundra
Green Chevy Silverado
Pink Ford F-150</code>

In [80]:
cars  = [
    ('blue', 'toyota', 'tundrs'),
    ('green', 'chevy', 'silverado'),
    ('pink', 'ford', 'f-150'),
    ('red', 'ford', 'mustang')
]

def format_car(color, make, model):
    print(f'{color} {make} {model}'.title())

format_car('yellow', 'ford', 'focus')

Yellow Ford Focus

In [86]:
for car in cars:
    format_car(car[0], car[1], car[2])

Blue Toyota Tundrs
Green Chevy Silverado
Pink Ford F-150
Red Ford Mustang

In [94]:
#tuples allows us to unpack valus into variables

tup = ('ryan', 'teague', 'miami')

first, last, city = tup

print(first)
print(last)
print(city)

ryan
teague
miami

In [95]:
for col, mk, md in cars:
    format_car(col, mk, md)

Blue Toyota Tundrs
Green Chevy Silverado
Pink Ford F-150
Red Ford Mustang

In [96]:
def format_car_args(*args):
    print(' '.join(args).title())

In [98]:
format_car_args('2020', 'used', 'toyota', 'camry', 'with sunroof')

2020 Used Toyota Camry With Sunroof

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [100]:
teacher = 'Ms. Buttercup' #this is a global variable

def assign_student(student_name): #student_name is a local variable (function)
    teacher = 'Mr. Haskins'
    print(f"{student_name} has been assigned to {teacher}'s class")

assign_student('Ryan')
# print(student_name) #nameError: name 'student_name' is not defined

Ryan has been assigned to Mr. Haskins's class

In [102]:
# evens_only = [] # Define global variable evens_only

def get_evens(list_of_numbers):
    evens_only = [] # Define a local variable
    # Loop through the argument list
    for number in list_of_numbers:
        # Check if the number is even
        if number % 2 == 0:
            # Add the number to evens_only list
            evens_only.append(number)
    # Once finished looping, print the evens_only list
    print(evens_only)

In [103]:
get_evens([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

[2, 4, 6, 8, 10]

In [104]:
my_list = ['a', 'b', 'c']
my_list.append('d') # .append method is scoped to the list class
print(my_list)

['a', 'b', 'c', 'd']

In [105]:
from random import randint

random_nums = [randint(1,100) for _ in range(20)]
print(random_nums)

[45, 27, 99, 85, 5, 90, 7, 94, 45, 5, 32, 87, 26, 41, 63, 25, 64, 13, 40, 32]

In [106]:
# Get all of the even numbers and then print each even number squared

evens = get_evens(random_nums)

print(evens)

for num in evens:
    print(num**2)

[90, 94, 32, 26, 64, 40, 32]
None

TypeError: 'NoneType' object is not iterable

##### Returning Values

In [108]:
# Mathematical Function - y = f(x)
# Where f is the function, x is the input(s), and y is the dependent variable (or the return variable)

def f(x):
    return x*2

y = f(5)
print(y)

10

In [109]:
z = f(10)
print(z)
print(z**2)

20
400

In [110]:
# Return will also immediately terminate the function

def early_return(n):
    for i in range(n):
        return i
        
        
output = early_return(10000000)
print(output)

0

In [111]:
def another_early(n):
    print('Function started...')
    for i in range(n):
        if i == 5:
            return i
        print(i)
    print('Function finished')
    
    
output2 = another_early(10)
print('The output of the function is',output2)

Function started...
0
1
2
3
4
The output of the function is 5

#### Multiple returns in a function

In [112]:
names = ['Brian', 'Sarah', 'Kevin', 'Brandt', 'Shoha', 'Katie', 'Ryan', 'Dylan']

# Write a function that will return a boolean on whether a name is in the list of names
def is_in_names(person_name):
    # Loop through the list of names (from global variable)
    for name in names:
#         print('We are currently checking:', name)
        # Check if the name from the list matches the argument name
        if name == person_name:
            # The person is in the list, so we return True
            return True
    # If we get through the entire list, we know the person is not in the list so we return False
    return False

In [113]:
is_in_names('Kevin')

True

In [114]:
is_in_names('Michael')

False

In [115]:
is_in_names('Katie')

True

In [1]:
def can_vote(birth_year):
    if 2023 - birth_year >= 18:
        return True
    else:
        return False
    
print(can_vote(2010))
print(can_vote(2000))

False
True

In [2]:
def score_calculator():
    scores = []
    
    while True:
        score = input('Please enter a score or enter "done" when done. ').lower()
        if score == 'done':
            break
        scores.append(int(score))
    
    top_score = max_score(*scores)
    print(f"Congrats to the winner with a top score of {top_score}!")

In [5]:
def score_calculator():
    scores = []
    
    while True:
        score = input('Please enter a score or enter "done" when done. ').lower()
        if score == 'done':
            break
        scores.append(int(score))
    
    top_score = max_score(*scores)
    print(f"Congrats to the winner with a top score of {top_score}!")

In [6]:
score_calculator()

##### Difference between `return` and `print`

In [1]:
# (3, 7, 2, 4)

def max_score(*scores):
    current_max = 0
    for score in scores:
        if score > current_max:
            current_max = score
    return current_max

#### Functions with Lists

In [1]:
def clean_band_names(bands_list):
    return [band.strip(' .,').title() for band in bands_list]

In [2]:
clean1 = clean_band_names(bands1)
print(clean1)

NameError: name 'bands1' is not defined

In [3]:
clean2 = clean_band_names(bands2)
print(clean2)

NameError: name 'bands2' is not defined

#### In-Class Exercise 2

Create a function that takes in the list of tuples ('city', 'country') and a country name and returns a list of the cities in that country

In [6]:
euro_cities = [
    ("London", "England"), 
    ("Manchester", "England"), 
    ("Barcelona", "Spain"), 
    ("Madrid", "Spain"), 
    ("Rome", "Italy"), 
    ("Florence", "Italy")
]

nor_so_am_cities = [
    ("Mexico City", "Mexico"),
    ("Buenos Aires", "Argentina"),
    ("Sao Paulo", "Brazil"),
    ("Santiago", "Chile"),
    ("Rio De Janeiro", "Brazil")
]



def cities_in_country(list_of_tuples, country_name):
    city_list = []
    # Loop through each tuple in the list of tuples
    for city, country in list_of_tuples:
        # Check to see if the country in the tuple matches the country_name argument
        if country == country_name:
            # If it does match, add the city name to a list of cities
            city_list.append(city)
        # If not, move on to the next tuple
    # Once we've checked every tuple, return the list of cities
    return city_list

In [7]:
print(cities_in_country(euro_cities, 'Italy')) #['Rome', 'Florence']
print(cities_in_country(euro_cities, 'Spain')) #['Barcelona', 'Madrid']
print(cities_in_country(nor_so_am_cities, 'Brazil')) #['Sao Paolo', 'Rio De Janeiro']

['Rome', 'Florence']
['Barcelona', 'Madrid']
['Sao Paulo', 'Rio De Janeiro']

In [8]:
def cities_in_country2(tuples, country_name):
    return [city for city, country in tuples if country == country_name]

print(cities_in_country2(euro_cities, 'Italy')) # ['Rome', 'Florence']
print(cities_in_country2(euro_cities, 'Spain')) # ['Barcelona', 'Madrid']
print(cities_in_country2(nor_so_am_cities, 'Brazil')) # ['Sao Paolo', 'Rio De Janeiro']

['Rome', 'Florence']
['Barcelona', 'Madrid']
['Sao Paulo', 'Rio De Janeiro']

#### Docstrings

In [9]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [10]:
help(cities_in_country2)

Help on function cities_in_country2 in module __main__:

cities_in_country2(tuples, country_name)

In [11]:
# A docstring is a string that is directly after our function definition, first line function code block

def add_nums(num1, num2):
    '''
    add_nums takes in two number types (int or float) and will return the two added together
    num1 -> int or float
    num2 -> int or float
    returns int or float
    '''
    return num1 + num2

In [12]:
total = add_nums(10, 20)
print(total)

30